body {
    font-family: 'Poppins', sans-serif;
   
    
}

h1{
    font-size: 70px;
    border-left: 5px solid;
    border-image: linear-gradient(rgb(167, 46, 66),tomato);
    border-image-slice: 1;
    margin-left: 50px;
}

h2{
    font-size: 40px;
    font-weight: bolder; 
}



.orange-color{
    color: orange;
   
}
#purple-color{
    color: rgb(10, 2, 32);
}

p{
   text-align: justify;
   margin-bottom: 50px;
}

.margin{
    margin-top: 50px;
}

.explore-button{
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    color: white;
    padding: 9px 17px;
    border-radius: 6px;
    font-weight: 700;
    
    
}


.stay-focused{
   width: 50%;
   padding-left: 5%;
   margin-top: 5%;
   
} 

.stay-focused img{
    width: 70%;
    
}

.sec-one{
    display: flex;
}

.sec-two {
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.div-mission{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(173, 221, 230);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.div-mission p{
   font-size: small;
}

.div-mission img{
    width: 50%;
}

.cod-img{
    width: 50%;
    margin-left: 5%;
    padding-left: 5%;
}
.cod-img img{
    width: 70%;
}

.sec-three{
    background-image: url(mission-2022-main/images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
 
}

.sec-four{
    background-image: url(mission-2022-main/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
}

.footer-class{
    text-align: center;
}

footer p{
    text-align: center;
}

.last-sec{
    background-color: blueviolet;
    padding-top: 1%;
    padding-bottom: 1%;
}

